@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

ul{
    list-style-type: none;
}

/* ----------------- Header ----------------- */

header .logo:hover{
    transform: scale(1.2);
    transition: all 2s;
}

.nombre a{
    text-decoration: none;
    color: black;
}

.nav-item .nav-link{
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar{
    grid-area: navbar;
    width: 100%;
}

/* -----------------  Footer -----------------  */

.footer{
    background-color: gray;
    margin-bottom: 0;
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    grid-area: footer;
}

.footer ul{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-transform: uppercase;
}

.footer ul li{
    margin-left: 150px;
    margin-right: 10px;
}

.footer ul li:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.footer a:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.footer ul li a{
    text-decoration: none;
    color: black;
}

/* ----------------- Main index ----------------- */

.servicios div ul{
    padding: 10px;
    margin-right: 100px;
    margin-top: 40px;
    margin-left: 100px;
    text-align: left;
    line-height: 180%;
}

.servicios div ul li h2{
    text-align: center;
}

.servicios{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    justify-content: space-evenly;
}

/* ----------------- Servicio Tecnico ----------------- */

.main{
    background-color: #fff;
    grid-area: main;
    width: 100%;
}

main h2{
    text-align: center;
}

main ul li{
    list-style-type: disc;
}

section .all__img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .ultra{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

section .notebook{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .netbook{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

section .mac{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .medida{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

/* ----------------- Redes ----------------- */

section .servicios__redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .monitoreo{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

section .estructura{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ----------------- Camaras ----------------- */

section .home__basic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .pro__premium{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

section .pro__extreme{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main h3{
    text-align: center;
}

main h6{
    text-decoration: underline;
    text-align: center;
}

.camaras{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* ----------------- Web ----------------- */

section .diseno__web{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .hosting{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

/* ----------------- Contactos ----------------- */

.form{
    padding-right: 15%;
    padding-left: 15%;
    margin-right: 15%;
    margin-left: 15%;
}

/* ----------------- Media Queries ----------------- */

/*.grid__container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.25fr 1.5fr 0.25fr; 
    gap: 4px 0px; 
    grid-template-areas: 
      "navbar navbar"
      "main main"
      "footer footer"; 
  }/*