@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

ul {
  list-style-type: none;
}

/* ----------------- Header ----------------- */

.nombre a {
  text-decoration: none;
  color: white;
}

.nav-item .nav-link {
  font-size: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;;
}

/* -----------------  Footer -----------------  */

footer ul p {
  text-transform: uppercase;
}

/* ----------------- Main index ----------------- */


/* ----------------- Servicio Tecnico ----------------- */
.main {
  background-color: #fff;
  grid-area: main;
  width: 100%;
}

main h2 {
  text-align: center;
}

main ul li {
  list-style-type: disc;
}

section .all__img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .ultra {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

section .notebook {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .netbook {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

section .mac {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .medida {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.st {
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/* ----------------- Redes ----------------- */
section .servicios__redes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .monitoreo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

section .estructura {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ----------------- Camaras ----------------- */
section .home__basic {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .pro__premium {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

section .pro__extreme {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main h3 {
  text-align: center;
}

main h6 {
  text-decoration: underline;
  text-align: center;
}

.camaras {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

/* ----------------- Web ----------------- */
section .diseno__web {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section .hosting {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

/* ----------------- Contactos ----------------- */
.form {
  padding-right: 15%;
  padding-left: 15%;
  margin-right: 15%;
  margin-left: 15%;
}

/* ----------------- Media Queries ----------------- */

/*.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1.5fr 0.25fr;
  gap: 4px 0px;
  grid-template-areas:
    "navbar navbar"
    "main main"
    "footer footer";
}*/